{% extends "mywebsite/base.html" %}

{% block content %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to the Machine Learning Projects Section.</h1>
                <p>I have build this section to specifically display Machine Learning projects.</p>
                
            </div>
        </div>
        <!-- Add more rows and columns as needed -->
    </div>

    

    <!-- You can add more HTML elements here as needed -->
{% endblock %}