{% extends "mywebsite/base.html" %}

{% block content %}
    <div class="container my-4 adjust-section">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to the upcoming project section.</h1>
                <p>I have build this section give hint on projects in pipeline.</p>
                
            </div>
        </div>
        <!-- Add more rows and columns as needed -->
    </div>

    

    <!-- You can add more HTML elements here as needed -->
{% endblock %}