<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="Anil z" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Creating a professional, modern and sophisticated online resume website is easy with Martyn CV / Resume">
    <meta name="keywords" content="CV, resume, card, vcard, online cv, online resume, professional resume, portfolio, one page, bootstrap responsive, creative html template, creative design, parallax, personal">

    <!-- SITE TITLE -->
    <title>Ankit website </title>

    <!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

</head>

<div class="preloader">
    <div class="loader">
		<div class="loader-inner ball-scale">
          <div></div>
          <div></div>
          <div></div>
		</div>
	</div>
</div>

<!-- START HEADER -->
<header class="header_wrap fixed-top light_skin hover_menu_style3 transparent-header">
    <div class="container">
      <nav class="navbar navbar-expand-lg"> 
          <a class="navbar-brand page-scroll" href="#home_section">
              
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="ion-android-menu"></span> </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <a class="navbar-brand page-scroll" href="#home_section">

              </a>
              <ul class="navbar-nav">
                  <li>
                      <a class="nav-link page-scroll" href="#">Home</a>
                  </li>
                  
                  <li>
                      <a class="nav-link page-scroll" href="#">Portfolio</a>
                  </li>
                  <li>
                      <a class="nav-link page-scroll" href="#">Experience</a>
                  </li>
                  <li>
                      <a class="nav-link page-scroll" href="#">contact</a>
                  </li>
                  <li class="dropdown">
                      <a class="dropdown-toggle active nav-link" href="#" data-toggle="dropdown">Projects</a>
                      <div class="dropdown-menu dropdown-reverse">
                          <ul> 
                              <li><a class="dropdown-item nav-link nav_item active" href="portfolio-detail-dark.html">portfolio detail dark</a></li>
                              
                          </ul>
                      </div>
                  </li>
                  <li>
                    <a class="nav-link page-scroll" href="#">About</a>
                </li>
              </ul>
          </div>
      </nav>
    </div>
  </header>
  <!-- START HEADER --> 


<body>
    
</body>
</html>