{% extends "mywebsite/base.html" %}

{% block content %}
    <div class="container my-4 adjust-section">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to the Exploratory Data Analysis Section.</h1>
                <p>I have build this section to specifically display my EDA projects.</p>
                
                <!-- Create a table to display projects -->
                <table class="table table-bordered text-center align-middle">
                    <thead>
                        <tr>
                            <th style="width: 10%;">Project Code</th>
                            <th style="width: 25%;">Project Title</th>
                            <th style="width: 50%;">Description</th>
                            <th style="width: 15%;">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Loop through projects and add rows -->
                        {% for project in projects %}
                            <tr>
                                <td class="text-center align-middle">{{ project.projectCode }}</td>
                                <td class="text-center align-middle">{{ project.title }}</td>
                                <td class="text-center align-middle">{{ project.description }}</td>
                                <td class="text-center align-middle"><a href="{{ project.github_link }}">Link</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                
            </div>
        </div>
        <!-- Add more rows and columns as needed -->
    </div>

    

    <!-- You can add more HTML elements here as needed -->
{% endblock %}